NEXT_PUBLIC_SITE_URL=https://albeltran.com
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=IW4RGjwqjRI8v2pDy
NEXT_PUBLIC_EMAILJS_SERVICE=service_x2j6fvi
NEXT_PUBLIC_EMAILJS_TEMPLATE=template_w31okso
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=albeltran.com
